*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
    color:white;background:#1EBAD6;
}

::-moz-selection {
    color:white;background:#1EBAD6;
}

/* Small screens (default) */
html {
    font-size: 80%; /* to make 10px */
    background-color:white;
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    font-weight:300;
    color:#4A4A4A;
}

.container {
  margin: 0 auto;
  margin-top:4rem;
  max-width: 90rem;
  width: 80%;
}

.column {
    width:100%;
    padding:0;
}

.centered {
    text-align: center;
}

.centered img {
    margin-bottom:1rem;
}

/* HEADER */

header {
    text-transform: uppercase;
    text-align: center;
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
}

h1 {
    font-size:2.5rem;
    font-family:"Montserrat", Helvetica, sans-serif;
    font-weight:700;
    letter-spacing: 0.25rem;
    margin-bottom:0;
}

h2 {
    font-size:1.25rem;
    text-transform: uppercase;
    font-family:"Alegreya", Helvetica, sans-serif;
    font-weight:700;
    letter-spacing: 0.1rem;
    margin-top:0;
    padding-bottom: 1rem;
    text-align: center;
}

h3 {
    font-size: 0.8rem;
    font-family:"Open Sans", Helvetica, sans-serif;
    font-weight:600;
    letter-spacing:0.2rem;
    color:#D4D4D4;
    margin:0.3rem auto 0;
}

.social {
    padding:1rem 0;
}

.social a {
    border-bottom:none;
    padding-left:1rem;
    padding-right:1rem;
}

.social a:hover {
    color:#4A4A4A;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #4A4A4A;
    border-radius: 5px;
    width:6.5rem;
    position: absolute;
    top:2.25rem;
    right:-1.8rem;
    color: #fff;
    font-family:"Montserrat", Helvetica, sans-serif;
    font-size:0.75rem;
    content: attr(tooltip);
    padding: 0.3125rem;
    z-index: 98;
}

.tooltip:hover:before{
    border: solid;
    border-color: #4A4A4A transparent;
    border-width: 0 0.625rem 0.625rem 0.625rem;
    top: 1.9rem;
    content: "";
    position: absolute;
    z-index: 99;
}

/* END HEADER */

/* PIC */

.my-pic {
    text-align:center;
}

.my-pic img {
    width:150px;
    border:1px solid #888;
    border-radius:100%;
    margin-top:3rem;
    box-shadow: 0 0 5px 0 #555;
}

/* END PIC */

/* MAIN BODY */

a {
    text-decoration: none;
    font-weight:400;
}

a, a:visited, a:active {
    color:#1EBAD6;
}


/* ROLLING LINKS */

#reveal .roll {
    display: inline-block;   
    overflow: hidden;
    vertical-align: top;

    /*
     * The smaller the number the closer you look at this  element
    */
    -webkit-perspective: 400px;
       -moz-perspective: 400px;
        -ms-perspective: 400px;
            perspective: 400px;

    /*
     * Relative position of the POV
     * Default is 50% 50% so not necessary
    */
    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
        -ms-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;    

}
    #reveal .roll:hover {
        background: none;
        text-shadow: none;
    }

#reveal .roll span {
    display: block; 
    position: relative;
    padding: 0 2px;

    pointer-events: none;

    /* duration */
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
            transition: all 400ms ease;

    -webkit-transform-origin: 50% 0%; /* posx posy */
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
    #reveal .roll:hover span {
        background: rgba(0,0,0,0.5);

        -webkit-transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
           -moz-transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
            -ms-transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
                transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
    }


/* Face after rotation */

#reveal .roll span:after {
    content: attr(data-title);
    display: block; 
    position: absolute; 
    left: 0;
    top: 0;
    padding: 0 2px;

    color: #fff;
    background: hsl(189, 75%, 48%);

    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    
    /* 
    * translate3d => move up element to the top 
    *     rotateX => rotate till hidden
    */
    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
        -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
            transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}

/* END ROLLING LINKS */

section {
    margin-top:3rem;
}
 
p {
    line-height:1.75rem;
    margin-bottom:1.5rem;
}

.reg-link, .reg-link:active, .reg-link:visited {
    font-weight:300;
    color:#4A4A4A;
    border-bottom:1px solid #1EBAD6;
}

.reg-link:hover {
    font-weight:300;
    color:#CCC;
    border-bottom:1px solid #CCC;
}

/* END MAIN BODY */

/* OTHER */

.currently {
    text-transform: uppercase;
}

.bold {
    font-weight:700;
}

.strikeout {
    text-decoration: line-through;
}

.author {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.quote {
    text-align: left;
}

footer > p {
    margin-bottom:2.5rem;
}

/* END OTHER */

/* FOOTER */

footer {
    display:inline-block;
    text-align: center;
    margin:3rem auto;
    border-top:1px solid #EEE;
    border-bottom:1px solid #EEE;
}

.panda {
    padding:2rem 0 1rem 0;
}

/* END FOOTER */

/* MED/LG SCREENS (768px) */

@media (min-width: 48rem) {
    html {
        font-size: 100%; 
    }

    .column {
    float: left;
    }

    .column.full { 
        width: 100%; 
    }
    .column.two-thirds { 
        width: 66.7%; 
    }
    .column.half { 
        width: 50%; 
        padding-right: 2rem;
    }
    .column.third { 
        width: 33.3%; 
    }
    .column.fourth { 
        width: 24.95%; 
    }
    .column.flow-opposite { 
        float: right;
        padding-right:0;
        padding-left: 2rem;
    }

    .container {
        width:70%;
    }

}

