/* first page */

.logo-large {
	margin-top:4em;
}

h1.practitioner {
	text-align: center;
	font-weight:bold;
	color:white;
	margin-top:0.5em;
	margin-bottom:1em;
}

.formbackground {
	background-color: #6f6e74;
	margin:0 auto;
	margin-top:4em;
}

input[type="submit"]{
	background-color: #e37907;
	font-size:1.5em;
	color:white;
	border:none;
	width:100%;
	padding:0.5em 1em;
	margin:1em auto;
}

/* second page */

.section-header {
	color:#e37907;
	font-weight: bold;
	border-bottom: 0.125em solid #e37907;
	margin-bottom:1em;
}

.survey-header {
	font-weight:bold;
	display:block;
	color:white;
	background-color:rgba(0,0,0,0.3);
	margin:0;
	padding:1.5em;
}

.survey-header:hover {
	color:white;
	text-shadow:0.125em 0.125em 0.625em white;
}

.survey-info {
	font-style: italic;
	color:white;
	padding:1em;
	margin:0;
}

.outline{
	border: 0.0625em solid black;
	padding:0;
	margin-bottom:2em;
}

.purple {
	background-color: #9e0048;
}

.yellow {
	background-color: #bb7c00;
}

.green {
	background-color: #323808;
}

.blue {
	background-color: #003f5d;
}

.orange {
	background-color: #e37907;
}

.gray {
	background-color: #6f6e74;
}

.lightgreen {
	background-color: #009e0f;
}

/* third page */

.question {
	font-weight:bold;
}

.answer {
	margin-top:1em;
	margin-bottom:3em;
}

ol {
	margin:0;
}

.big-button {
	display:block;
	width:100%;
	height:4em;
	border-radius:0.625em;
	color:white;
	font-weight: bold;
	line-height: 4em;
	text-align:center;
	margin:3em 0 4em 0;
	font-size:2em;
}

.big-button:hover{
	color:white;
	text-shadow:0.125em 0.125em 0.625em white;
	box-shadow:0 0 0.3125em 0.125em #555;
}

/* fourth page */

.finished {
	margin-top:2em;
	font-size: 3em;
	text-align: center;
}



