body {
	background-color:#ffffff;
	margin-left:auto;
	margin-right:auto;
	min-width:720px;
	max-width:1200px;
	display:block;
}

header {
	background-image:url("Images/coffee.jpg");
	background-repeat:no-repeat;
	height:300px;
	width:auto;
}

h1 {
	color:#ffffff;
	text-align:center;
	margin:0px;
}

h1 span {
	color:#C2AD99;
}

nav {
	background-color:#241200;
	margin-top:200px;
}

ul {
	padding:10px 0px;
	text-align:center;
}

li {
	display:inline;
}

li a {
	text-decoration:none;
	text-transform:lowercase;
	color:#C2AD99;
	margin-right:25px;
}

.content {
	background-color:#ffffff;
	width:48%;
	padding:15px 1%;
	text-align:center;
} 

#left {
	float:left;
}

#right{
	float:right;
}

footer {
	background-color:#241200;
	color:#C2AD99;
	text-align:center;
	padding:15px 0px;
}