/* 
	Name: Dream Beans Caffe Project
	Date: November 2013
	Description: SINY Product & Design - Lab 0/1
	Author: Ryan Lee
	Author URL: http://www.ryanslee.com
*/

body {
	background-color:#ffffff;
	margin:0px auto;
	width:900px;
	font-family:"Times New Roman", Helvetica, sans-serif;
}

header {
	background-image:url('../images/coffee.jpg');
	height:250px;
}

#logo {
	margin:20px 0px 0px 400px;
	width:100px;
	height:auto;
}

nav {
	position:relative;
	background-color:#241200;
	margin-top:20px;
}

ul {
	padding:10px 0px;
	text-align:center;
}

li {
	display:inline;
}

li a {
	text-decoration:none;
	text-transform:lowercase;
	color:#C2AD99;
	margin:0px 12px;
}
/*
.wrapper {
	padding:40px 0px;
	background-color:#ffffff;
}
*/
article {
	background-color:#ffffff;
	width:300px;
	text-align:center;
	padding:40px 0 20px 0;
} 

article p {
	padding-bottom:20px;
}

#left {
	float:left;
	margin-left:100px;
}

#right{
	float:right;
	margin-right:100px;
}

.subheading {
	font-size:16px;
	font-weight:bold;
	color:#241200;
	font-family:Helvetica;
	margin-bottom:20px;
}

footer {
	background-color:#241200;
	color:#C2AD99;
	text-align:center;
	padding:40px 0px;
	clear:both;
}