html {
	height:100%;
	background:url('bg5.jpg') no-repeat fixed bottom; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}

body {
	font-family: 'Oxygen', Arial, sans-serif;
	width:100%;
	min-height:100%;
	color:white;
	z-index: -10;
}

/* FIRST SECTION */

h1 {
	text-align: center;
	margin-top:0.5em;
	margin-bottom: 0.25em;
	font-size: 3em;
	font-weight:300;
}

strong {
	color:#8C7057;
	font-size:1.2em;
	font-family: 'Oxygen', Arial, sans-serif;
	text-transform: uppercase;	
}

.modalfont {
	font-family:'Source Sans Pro', Arial, sans-serif;
}

.wrapper {
	width:80%;
	margin:0 auto;
	text-align: center;
	margin-bottom:3%;
}

.undertitle {
	display:inline;
	font-size: 0.8em;
}

.reg-btn, .reg-btn:visited, .reg-btn:hover, .reg-btn:active {
	background-color:#fff;
	border-radius: 1.5em;
	padding:0.4em 1.5em;
	color:#333;
	font-weight: 700;
	text-decoration:none;
	font-size: 0.8em
}


span {
	margin:0 0.5%;
}

/* SECOND SECTION & SQUARES */

.maincontent {
	width:55%;
	height:50%;
	margin:0 auto;
	text-align: center;
}

.squares {
	width:16.25em;
	height:16.25em;
	margin-left: 2%;
	line-height:16.25em;
	display:inline-block;
	text-decoration: none;
	border: 0.3em solid white;
	text-align: center;
	color:white;
	font-weight: 700;
	background-color:rgba(204,204,204,0.3);
}

/* POSITIONING */

.one, .two {
	margin-bottom:3%;
}

.three, .four {
	margin-bottom:5%;
}

/* HOVER */

.squares:hover {
	box-shadow:0 0 0.625em 0.1875em white;
	text-shadow:0.125em 0.1875em 0.3125em black;
}

/* OVERLAYS */

.one-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	background: #000; /* fallback */
	background: rgba(0,0,0,0.75);
}

.one-content {
	background: #333;
	padding: 3% 5%;
	width: 70%;
	position: relative;
	top:10%;
	left: 10%;
	cursor: default;
	text-align: left;
	line-height: 1.8em;
	box-shadow: 0 0 0.625em 0.3125em rgba(255,255,255,0.9);
}

p {
	margin-bottom: 1.5em;
	font-size:1.2em;
}

.two-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	background: #000; /* fallback */
	background: rgba(0,0,0,0.75);
}

.two-content {
	background: #333;
	padding: 3% 5%;
	width: 70%;
	position: relative;
	top:10%;
	left: 10%;
	cursor: default;
	text-align: left;
	line-height: 1.8em;
	box-shadow: 0 0 0.625em 0.3125em rgba(255,255,255,0.9);
}



.three-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	background: #000; /* fallback */
	background: rgba(0,0,0,0.75);
}

.three-content {
	background: #333;
	padding: 3% 5%;
	width: 70%;
	position: relative;
	top:10%;
	left: 10%;
	cursor: default;
	text-align: left;
	line-height: 1.8em;
	box-shadow: 0 0 0.625em 0.3125em rgba(255,255,255,0.9);
}



.four-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	background: #000; /* fallback */
	background: rgba(0,0,0,0.75);
}

.four-content {
	background: #333;
	padding: 3% 5%;
	width: 70%;
	position: relative;
	top:10%;
	left: 10%;
	cursor: default;
	text-align: left;
	line-height: 1.8em;
	box-shadow: 0 0 0.625em 0.3125em rgba(255,255,255,0.9);
}

.close-btn {
	position:absolute;
	top:0;
	right:0;
	font-size: 2em;
	cursor: pointer;
	border: 0 none;
	padding: 0.5% 1.5%;
	background: none;
	color:white;
}

.close-btn:hover {
    background: white;
    color:black;
}


/* FOOTER SECTION */

footer {
	text-align: center;
	padding-bottom: 3em;
}

.portfolio:hover {
	background-color:black;
	color:white;
}

.resume, .linkedin, .twitter {
	margin-left:5%;
}

.resume:hover {
	background-color:#C40233;
	color:white;
}

.linkedin:hover {
	background-color:#4875B4;
	color:white;
}

.twitter:hover {
	background-color:#4099ff;
	color:white;
}

.email, .email:visited, .email:active {
	display:inline;
	margin-left:1em;
}

.email:hover {
	background-color:#999;
	color:white;
}


