html {
	height:100%;
	background:url('images/bg5.jpg') no-repeat fixed bottom; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}

body {
	font-family: 'Oxygen', Arial, sans-serif;
	width:100%;
	color:white;
	margin-top:10%;
}

/* FIRST SECTION */

h3 {
	text-align: center;
	font-size: 2.2em;
	font-weight: 400;
	font-style: italic;
	font-family: Georgia, serif;
	margin-bottom: 0;
}

h1 {
	text-align: center;
	margin:0 auto;
	font-size: 7em;
	font-weight:700;
	letter-spacing: 0.09375em;
	margin-bottom:1%;
}

.wrapper {
	width:100%;
	text-align: center;
}

.undertitle {
	display:inline;
	font-size: 0.9em;
}

.reg-link, .reg-link:visited {
	padding:0 0.5em;
	font-weight: 400;
	text-decoration:none;
	color:white;
}

.reg-link:hover, .reg-link:active {
	text-shadow:0px 2px 4px white;
}

span {
	margin:0 0.5%;
}

.email, .email:visited {
	display:inline-block;
	border-radius:2em;
	background-color:rgba(0,0,0,0.6);
	border:solid 3px black;
	font-weight: 700;
	padding:1em 3em;
	margin-top:3em;
	text-decoration: none;
	color:white;
}

.email:hover, .email:active {
	background-color:rgba(30,186,214,0.6);
	border: solid 3px white;
}

/* MAIN CONTENT */

strong {
	color:#1ebad6;
	font-size:1.2em;
	font-family: 'Oxygen', Arial, sans-serif;
	text-transform: uppercase;	
}

.modalfont {
	font-family:'Source Sans Pro', Arial, sans-serif;
}

.plus-btn {
	width:1.5em;
	height:1.5em;
	line-height:1.5em;
	display:inline-block;
	text-decoration: none;
	border: 0.1em solid white;
	border-radius:100%;
	text-align: center;
	color:white;
	font-weight: 700;
	font-size:1.5em;
	background-color:rgba(30,186,214,0.7);
}

.plus-btn:hover, .plus-btn:active {
	box-shadow:0 0 5px 2px white;
}

/* POSITIONING */

.one {
	position:absolute;
	left:14%;
	top:50%;
}

.two {
	position:absolute;
	left:35%;
	bottom:20%;
}

.three {
	position:absolute;
	left:45%;
	bottom:18%;
}

.four {
	position:absolute;
	right:31%;
	bottom:20%;
}

.five {
	position:absolute;
	right:14%;
	bottom:10%;
}

.six {
	position:absolute;
	right:12%;
	bottom:50%;
}

/* OVERLAYS */

.one-bg, .two-bg, .three-bg, .four-bg, .five-bg, .six-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	background: #000; /* fallback */
	background: rgba(0,0,0,0.75);
}

.one-content, .two-content, .three-content, .four-content, .five-content, .six-content {
	background: #333;
	padding: 3% 5%;
	width: 70%;
	position: relative;
	top:10%;
	left: 10%;
	cursor: default;
	text-align: left;
	line-height: 1.8em;
	box-shadow: 0 0 0.625em 0.3125em rgba(255,255,255,0.9);
}

p {
	margin-bottom: 1.5em;
	font-size:1.2em;
}

.close-btn {
	position:absolute;
	top:0;
	right:0;
	font-size: 2em;
	cursor: pointer;
	border: 0 none;
	padding: 0.5% 1.5%;
	background: none;
	color:#1ebad6;
}

.strong-two {
	color:white;
	border-bottom:1px solid #1ebad6;
	font-size:0.8em;
	font-style: italic;
	letter-spacing: 0.0625em;
}

.one, .one-bg, .one-content {
	display:none;
}
