@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start your CSS Here */
body {  
	font-family: 'Lato', "Helvetica Neue", Arial, sans-serif;
	font-weight: 200;
}

.container {
	width:640px;
	margin:1em auto;
}

h1 {
	font-size: 2em;
	border-bottom:2px solid #559228;
}

/* SPECIFIC TO GREAT BREAKFAST MENU SECTION */

.menu {
	margin:1em 0 2em 1em;
}

.menu ul {
	list-style-type: square;
	list-style-position: inside;
}

/* SPECIFIC TO INGREDIENTS SECTION */


.ingredients h2 {
	font-size:1em;
	margin-top:1em;
}

.ingredients h3 {
	margin-top:1.3em;
	font-size: 1.3em;
	font-weight:500;
}

.ingredients ul {
	margin-left:1em;
	list-style-type: circle;
	list-style-position: inside;
}

/* RESPONSIVITY */

/*@media screen and (min-width:300px) and (max-width:640px) {
        header, aside, section, .logo, nav {float:none; width:100%;}
        .logo, nav {margin:3% 0; text-align:center;}
        .logo {font-size:3.5em;}
        li a {margin:0 5%;}
        aside {margin:5% 0;}
        aside p {margin-bottom:3%; text-align:center;}
        h2 {margin-bottom:3%;}
        .maincontent {line-height:1.5em;}
}*/
